@media (max-width: 640px) {
  .second,
  .third {
    display: none;
  }

  .first {
    width: 100% !important;
  }

  .main {
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 900px) {
  .third,
  .second-part {
    display: none;
  }

  .main {
    padding: 0px 20px;
  }

  .first,
  .second {
    width: 50%;
  }

  .first-part {
    width: 100%;
  }
}

@keyframes marquee {
  from {
    transform: translateX(10%);
  }
  to {
    transform: translateX(-100%);
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.marquee-content {
  display: flex;
  gap: 50px;
  min-width: 200%;
  animation: marquee 50s linear infinite;
}
